<div id="page1_submenu">
	<%= link_to_unless_current 'Preface', {:action => 'preface'} %><br />
	<%= link_to_unless_current 'About the Title', {:action => 'aboutTitle'} %><br />
	<%= link_to_unless_current 'Navigation', {:action => 'navigation'} %>
</div>