<div id="page1">

	<%= render(:partial => 'introduction_submenu') %>
	<%= image_tag("calgaryLukashevskys.png", :size => "390x474", :id => "calgary_lukashevskys") %>

</div>

<div id="page2">
<p>
None of us remember which of us said it first, or why. In any case, “You Should Be Cookin’ In Pa-Ree”  became a common expression in our family soon after we arrived in Canada from the USSR, back in 1980. We took it for a Canadian catchphrase, and said it seriously, and mock seriously, not exactly sure which way was correct. It became, on the one hand, an inside joke, a sendup of our very attempting to fit in in our new home, an ironic barb at our own lack of sophistication; on the other, it came to be the sincerest, most emphatic way we knew to say ‘delicious’. My mother, the balabusta, provided us plenty of chances for using it. At our house most meals were good enough to make you exclaim.   	
</p>
</div>