<div id="page1">

	<%= render(:partial => 'introduction_submenu') %>
	<%= image_tag("kugel.png", :size => "410x341", :id => "kugel") %>

</div>

<div id="page2">
<p>
Our family cuisine is, in a word, Canadian: modern western, with strong ethnic influences, in our case Russian and Jewish. It is a living tradition that we try to keep a record of in our cookbook, “You Should Be Cookin’ In Pa-Ree”. When one of us takes a shine to a recipe, and thinks the rest of the family might too, it’s recorded in the book. Some of the recipes are generations old, others are the result of yesterdays happy, culinary chance. All are influenced by a constellation of rules-of-thumb that have become common to us as we’ve cooked for each other over the years: cook for taste, keep it simple, use unprocessed ingredients, respect tradition,  and be ready to accommodate an intolerance (wheat, soy, dairy). 	
</p>
</div>